*{
    padding: 0;
    margin: 0;
}
ul,ol,li{
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

body {
    background-color: skyblue;
    font-size: 14px;
}

input {
    border: 0 none;
    outline-style: none;
}

